<div style="background-image: url('/Users/peshangalo/Downloads/MongoDB_Project/1wthncczwj1kfw894zfy.jpg');">
    <a style="margin-top:55px" type="button" class="btn btn-info btn-lg btn-block" asp-area="" asp-controller="Home"
        asp-action="mySQL" role="button">MySQL</a>
    <a style="margin-top:55px" type="button" class="btn btn-success btn-lg btn-block" asp-area="" asp-controller="Home"
        asp-action="mongoDB" role="button">MongoDB</a>

    <a style="margin-top:55px" class="btn btn-primary btn-lg btn-block" asp-area="" asp-controller="Home"
        asp-action="neu4j" role="button">Neu4J</a>


  



  

</div>

