<div>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-success btn-lg btn-block asp-area=" asp-controller="ApplicationUser_dim"
            asp-action="Index" role="button">13. What is the average data usage for all student devices</a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-success btn-lg btn-block asp-area=" asp-controller="Vlan"
            asp-action="Index" role="button">Second
            Query</a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-success btn-lg btn-block asp-area=" asp-controller="Vlan"
            asp-action="Index" role="button">Third
            Query</a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-success btn-lg btn-block asp-area=" asp-controller="Vlan"
            asp-action="Index" role="button">Forth
            Query</a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-success btn-lg btn-block asp-area=" asp-controller="Vlan"
            asp-action="Index" role="button">Femth
            Query</a>
    </p>

</div>