@model Vlan_dim;



<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.VlanAlias)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.SSID)
    </td>

    <td>
        @Html.DisplayFor(modelItem => Model.VlanName)
    </td>

    <td>
        @Html.DisplayFor(modelItem => Model.AccessibleByUser)
    </td>

</tr>
